.logo {
  display: block;
  width: fit-content;
  font-family:
    futura-pt,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji";
  font-size: 28px;
  font-style: italic;
  font-weight: 700;
  color: var(--pale-white);
  text-decoration: none;
  cursor: pointer;

  *:hover {
    opacity: 0.8;
  }

  *:focus-visible {
    opacity: 0.8;
  }

  *:active {
    opacity: 0.6;
  }
}
