@import '../../../styles/color';
@import '../../../styles/responsive';
@import '../../../styles/rem';

.wrapper {
  display: flex;
  justify-content: center;
  margin: rem(32px) rem(16px);

  ::-webkit-scrollbar {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: rem(960px);

    .profile-card-container {
      margin-bottom: rem(32px);
    }

    .date-container {
      .date {
        margin: 0 0 rem(10px);
        color: $text-color;
      }
    }

    .heading-container {
      margin-bottom: rem(20px);

      .heading {
        margin: 0;
        font-size: rem(32px);
        line-height: 1.2;
        color: $text-color;
        word-break: break-word;
      }
    }

    .tag-list-container {
      margin-bottom: rem(20px);
    }

    .markdown-container {
      width: 100%;
      color: $text-color;
      letter-spacing: 0.1em;

      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0 0 0.2em;
        font-weight: 700;
        word-break: break-word;
      }

      h2 {
        font-size: rem(24px);
      }

      h3 {
        font-size: rem(18px);
      }

      h4 {
        font-size: rem(16px);
      }

      h5 {
        font-size: rem(14px);
      }

      h6 {
        font-size: rem(12px);
      }

      p {
        margin: 0 0 rem(20px);
        font-size: rem(16px);
        line-height: 1.8;

        code {
          padding: 0 rem(4px);
          color: $pale-white;
          background-color: $dark-gray;
          border-radius: rem(4px);
        }
      }

      hr {
        margin: rem(20px) 0;
        border: 0;
        border-top: 1px solid $border-color;
      }

      a {
        color: $link-color;

        &:active {
          color: $warning-color;
        }
      }

      blockquote {
        padding: rem(8px) rem(16px);
        margin: 0 0 rem(20px);
        font-style: italic;
        border: 1px solid $border-color;

        p {
          padding: 0;
          margin: rem(10px) 0;
          line-height: 1.7;
        }
      }

      ul {
        padding: 0 0 0 rem(20px);
        margin: 0 0 rem(20px);
        list-style: disc;

        li {
          padding: 0;
          margin: 0;
          line-height: 1.7;
        }
      }

      ol {
        padding: 0 0 0 rem(20px);
        margin: 0 0 rem(20px);
        list-style: decimal;

        li {
          padding: 0;
          margin: 0;
          line-height: 1.7;
        }
      }

      table {
        th {
          width: fit-content;
          padding: 10px;
          color: $pale-white;
          background-color: $dark-gray;
          border: solid 1px $border-color;
        }

        td {
          width: fit-content;
          padding: 10px;
          border: solid 1px $border-color;
        }
      }
    }
  }
}
