.container {
  background-color: var(--white);
  border-radius: 16px;
  cursor: pointer;
  height: 32px;
  margin: 0;
  position: relative;
  width: 52px;
}

.button {
  border-radius: 16px;
  height: 32px;
  position: absolute;
  width: 52px;
  z-index: 1;

  :global .body {
    background-color: var(--black);
    border-radius: 50%;
    height: 28px;
    left: 50%;
    position: relative;
    top: 50%;
    transition: transform 0.2s ease-out;
    width: 28px;
    transform: var(--switch-margin);
  }
}

.sun,
.moon {
  align-items: center;
  display: flex;
  height: 13px;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 13px;
  z-index: 0;
}

.sun {
  right: 6px;
}

.moon {
  left: 6px;
}
